/*
!/app/
/app/*
!/app/code/
/app/code/Magento
!/app/design/
/app/design/*/Magento
!/app/i18n
!/app/etc
/app/etc/*
!/app/etc/config.php.local
!/app/etc/env.php.local
!/pub
/pub/*
!pub/errors
/pub/errors/*
/pub/errors/default
!/pub/errors/custom
!/pub/errors/local.xml
!/m2-hotfixes
!package.json
!composer.json
!composer.lock
!.gitignore
!.env.local
!README.md
!Makefile
!dump.sql.gz
!auth.json
